/* 
    Molile - 368px
    Tablet - 736px
    Desktop - 1168px

*/
/*#region ====== Reset styles ====== */

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.22;
    color: #111111;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

label {
    padding: 0;
    margin: 0;
}

input,
textarea {
    outline: none;
    background-color: transparent;
    padding: 0;
    border: 1px solid;
}

/*#endregion ===== Reset styles ===== */

/*#region ====== Basis styles ====== */

.section {
    margin: 0 auto;
}

.container {
    max-width: 368px;
    margin: 0 auto;
    padding: 0 16px;
}

@media (min-width: 736px) {
    .container {
        max-width: 736px;
    }
}

@media (min-width: 1168px) {
    .container {
        max-width: 1168px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.orange {
    color: #fd9222;
}

/*#endregion ====== Basis styles ====== */

/*#region ====== Overlay style ====== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(17, 17, 17, 0.4);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in-out,
        visibility 250ms ease-in-out;
}

.overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/*#endregion ====== Overlay style ====== */

/*#region ====== Header styles ====== */

.container-header {
    padding: 20px 20px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-text {
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    padding-right: 4px;
}

.logo-subtext {
    font-style: italic;
}

.logo-icon {
    fill: #fd9222;
}

.nav-list {
    display: none;
}

.header-address {
    display: none;
}

.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    fill: #111111;
    transition: fill 250ms ease-in-out;
}

.button-menu:hover .button-icon,
.button-menu:focus .button-icon {
    fill: #fd9222;
}

@media (min-width: 736px) {
    .container-header {
        padding: 0 16px;
        justify-content: flex-start;
        gap: 48px;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-grow: 1;
    }

    .logo-link {
        padding: 28px 0;
    }

    .nav-list {
        display: flex;
        gap: 24px;
    }

    .nav-link {
        display: block;
        font-weight: 500;
        line-height: 1.15;
        letter-spacing: -0.02em;
        color: #111111;
        padding: 32px 0;
        transition: color 250ms ease-in-out;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #fd9222;
    }

    .header-address {
        display: flex;
        flex-shrink: 0;
    }

    .address-list {
        display: flex;
        gap: 18px;
    }

    .address-link {
        padding: 28px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .address-icon {
        fill: #111111;
        transition: fill 250ms ease-in-out;
    }

    .address-link:hover .address-icon,
    .address-link:focus .address-icon {
        fill: #fd9222;
    }

    .button-menu {
        display: none;
    }
}

@media (min-width: 1168px) {
    .container-header {
        gap: 90px;
    }

    .logo-text {
        font-size: 18px;
        line-height: 1.11;
    }

    .address-list {
        gap: 20px;
    }
}

/*#endregion ====== Header styles ====== */

/*#region ====== Mobile menu styles ====== */

.overlay-menu {
    background-color: #1e1823;
}

.container-menu {
    position: relative;
    width: 368px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    padding: 136px 20px 20px;
    margin: 0 auto;
}

.button-close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.button-close-menu-icon {
    fill: #ffffff;
    transition: fill 250ms ease-in-out;
}

.button-close-menu:hover .button-close-menu-icon,
.button-close-menu:focus .button-close-menu-icon {
    fill: #fd9222;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-nav-link {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: -0.02em;
    transition: color 250ms ease-in-out;
}

.menu-nav-link.current {
    color: #fd9222;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    color: #fd9222;
}

.menu-address-list {
    display: flex;
    gap: 18px;
}

.menu-address-icon {
    fill: #ffffff;
    transition: fill 250ms ease-in-out;
}

.menu-address-link:hover .menu-address-icon,
.menu-address-link:focus .menu-address-icon {
    fill: #fd9222;
}

@media (min-width: 736px) {
    .overlay-menu {
        display: none;
    }
}

/*#endregion ======Mobile menu styles====== */

/*#region ====== Hero banner styles ====== */

.hero {
    max-width: 375px;
    background-color: #1e1823;
    background-image: linear-gradient(to bottom,
            rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)),
        url("../images/bg-hero-mobile-chocolate@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 395px 20px 20px;
    margin: 0 auto 60px;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url("../images/bg-hero-mobile-chocolate@2x.jpg");
    }
}

.container-hero {
    display: flex;
    flex-direction: column;
}

.hero-title {
    max-width: 296px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin: 0 auto 32px;
}

.hero-buttons {
    margin-bottom: 32px;
}

.hero-button {
    border-radius: 100px;
    height: 41px;
    font-weight: 600;
    color: #ffffff;
    padding: 0 28px;
}

.hero-button-buy {
    background-color: #fd9222;
    min-width: 120px;
    margin-right: 16px;
    transition: color 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

.hero-button-buy:hover,
.hero-button-buy:focus {
    color: #fd9222;
    background-color: #fcf1e0;
}

.hero-button-recipe {
    border: 1px solid #ffffff;
    background-color: transparent;
    min-width: 160px;
    transition: color 250ms ease-in-out,
        border-color 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

.hero-button-recipe:hover,
.hero-button-recipe:focus {
    color: #fd9222;
    border-color: #fd9222;
    background-color: #ffffff;
}

.scroll-link {
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.scroll-link-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-right: 12px;
    transition: color 250ms ease-in-out;
}

.scroll-link:hover .scroll-link-text,
.scroll-link:focus .scroll-link-text {
    color: #fd9222;
}

.scroll-link-box {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease-in-out;
}

.scroll-link-svg {
    fill: #fd9222;
    transition: fill 250ms ease-in-out;
}

.scroll-link:hover .scroll-link-box,
.scroll-link:focus .scroll-link-box {
    background-color: #fd9222;
}

.scroll-link:hover .scroll-link-svg,
.scroll-link:focus .scroll-link-svg {
    fill: #ffffff;
}

@media (min-width: 736px) {
    .hero {
        max-width: 768px;
        height: 890px;
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url("../images/bg-hero-tablet-chocolate@1x.jpg");
        padding: 670px 0 40px;
        margin-bottom: 40px;
    }

    .container-hero {
        margin: 0 auto;
        padding: 0 56px;
    }

    .hero-title {
        max-width: 484px;
        font-size: 28px;
        line-height: 1.22;
        margin-left: 0;
        margin-right: 0;
    }

    .hero-box {
        display: flex;
    }

    .hero-buttons {
        margin-bottom: 0;
    }

    .hero-button {
        height: 45px;
        padding: 0px 40px;
    }

    .hero-button-buy {
        min-width: 144px;
        margin-right: 14px;
    }

    .hero-button-recipe {
        min-width: 183px;
    }


    .scroll-link-text {
        font-size: 14px;
        line-height: 1.29;
        margin-right: 14px;
    }

    .scroll-link-box {
        width: 38px;
        height: 38px;
    }

    .scroll-link-svg {
        width: 22px;
        height: 22px;
    }
}

@media (min-width: 736px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url("../images/bg-hero-tablet-chocolate@2x.jpg");
    }
}

@media (min-width: 1168px) {
    .hero {
        max-width: 1200px;
        height: 600px;
        background-image: linear-gradient(to bottom,
                rgba(30, 24, 35, 0.4),
                rgba(30, 24, 35, 0.4)),
            url("../images/bg-hero-desktop-chocolate@1x.jpg");
        padding-top: 380px;
        margin-bottom: 72px;
    }
}

@media (min-width: 1168px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(30, 24, 35, 0.4),
                rgba(30, 24, 35, 0.4)),
            url("../images/bg-hero-desktop-chocolate@2x.jpg");
    }
}

/*#endregion ====== Hero banner styles ====== */

/*#region ====== Benefits styles ====== */

.benefits {
    background-color: #1e1823;
    padding: 20px 0;
    margin-bottom: 30px;
}

.benefits-title.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.benefits-item {
    width: 100%;
    padding-right: 28px;
}

.benefits-box {
    width: 62px;
    height: 62px;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.benefits-icon {
    fill: #fd9222;
}

.benefits-title {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 18px;
}

.benefits-text {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: -0.02em;
}

@media (min-width: 736px) {
    .benefits {
        padding: 50px 0;
        margin-bottom: 40px;
    }

    .benefits-list {
        gap: 32px;
    }

    .benefits-item {
        width: calc((100% - 32px) / 2);
    }
}

@media (min-width: 1168px) {
    .benefits {
        padding: 50px 0;
        margin-bottom: 50px;
    }

    .container-benefits {
        padding: 0 34px;
    }

    .benefits-list {
        gap: 88px;
    }

    .benefits-item {
        position: relative;
        width: calc((100% - 2 * 88px) / 3);
        padding-right: 0;
    }

    .benefits-item:not(:last-child)::after {
        content: "";
        width: 0px;
        height: 124px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 60px;
        right: -18px;
    }
}


/*#endregion ====== Benefits styles ====== */

/*#region ====== Ingredients styles ====== */

.ingredients {
    padding: 30px 0;
}

.ingredients-title {
    max-width: 284px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
    margin: 0 auto 24px;
}

.ingredients-title.orange {
    color: #fd9222;
}

.ingredients-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111111;
    margin-bottom: 32px;
}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ingredients-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    padding: 28px;
    transition: border-color 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

.ingredients-item.ingredients-item-orange {
    background-color: #fd9222;
}

.ingredients-item.ingredients-item-white {
    background-color: #ffffff;
    border: 1px solid #fd9222;
}

.ingredients-item.ingredients-item-black {
    background-color: #111111;
}

.ingredients-item:hover {
    border-color: transparent;
    background-color: #ffffff;
}

.ingredients-img {
    margin: 0 auto 25px;
}

.ingredients-name {
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
}

.ingredients-item.ingredients-item-white .ingredients-name {
    color: #111111;
}

.ingredients-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -100%) rotate(180deg);
    transition: transform 500ms ease-in-out;
    background-color: #ffffff;
    padding: 28px;
}

.ingredients-item:hover .ingredients-overlay {
    transform: translate(0) rotate(0);
}

.ingredients-overlay-header {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 8px;
}

.ingredients-overlay-tags {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
}

.tag {
    border-radius: 35px;
    padding: 6px 16px;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    background-color: #fd9222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.additional-tag {
    color: #111111;
    background-color: #fafafa;
    border: 1px solid #fd9222;
}

.ingredients-overlay-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111;
}

@media (min-width: 736px) {
    .ingredients {
        padding: 40px 0;
    }

    .ingredients-title {
        max-width: 412px;
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 28px;
    }

    .ingredients-text {
        width: 486px;
        margin: 0 auto 50px;
    }

    .ingredients-list {
        gap: 32px;
    }

    .ingredients-item {
        width: calc((100% - 32px) / 2);
        order: 1;
    }

    .ingredients-item:first-child {
        order: -1;
    }

    .ingredients-item:last-child {
        order: 0;
    }
}

@media (min-width: 1168px) {
    .ingredients {
        padding: 50px 0;
    }

    .ingredients-list {
        gap: 18px;
    }

    .ingredients-item {
        width: calc((100% - 3 * 18px) / 4);
    }

    .ingredients-item,
    .ingredients-item:first-child,
    .ingredients-item:last-child {
        order: 0;
    }

    .ingredients-overlay {
        overflow-y: overlay;
        padding: 20px;
    }
}

/*#endregion ====== Ingredients styles ====== */

/*#region ====== Recipe styles ====== */

.recipe {
    padding: 30px 0;
}

.recipe-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
    margin-bottom: 32px;
}

.recipe-title .orange {
    color: #fd9222;
}

.recipe-img {
    min-width: 100%;
    margin-bottom: 20px;
}

.recipe-box {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px 14px;
}

.recipe-box-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.34;
    color: #111111;
    margin-bottom: 20px;
}

.recipe-item {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.recipe-item:not(:last-child) {
    margin-bottom: 18px;
}

.recipe-marker {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111;
}

@media (min-width: 736px) {
    .recipe {
        padding: 40px 0;
    }

    .container-recipe {
        padding: 0 60px;
    }

    .recipe-title {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 50px;
    }

    .recipe-box {
        padding: 32px;
    }

    .recipe-box-title {
        margin-bottom: 28px;
    }

    .recipe-list {
        margin-right: 70px;
    }

}

@media (min-width: 1168px) {
    .recipe {
        padding: 50px 0;
    }

    .container-recipe {
        padding: 0 16px;
    }

    .recipe-wrapper {
        display: flex;
        gap: 20px;
    }

    .recipe-img {
        max-width: 600px;
        min-width: auto;
        margin-bottom: 0;
    }

    .recipe-list {
        margin-right: 24px;
    }

    .recipe-item:not(:last-child) {
        margin-bottom: 24px;
    }
}


/*#endregion ====== Recipe styles ====== */

/*#region ====== Reviews styles ====== */

.reviews {
    padding: 30px 0;
    margin-bottom: 30px;
}

.reviews-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
    margin-bottom: 32px;
}

.reviews-title .orange {
    color: #fd9222;
}

.reviews-list {
    width: 100%;
    height: 242px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.reviews-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding-top: 42px;
    pointer-events: none;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

.reviews-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80px;
    max-height: 80px;
}

.reviews-desc {
    padding: 56px 18px 18px 18px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background: #ffffff;
    flex-grow: 1;
    transition: box-shadow 500ms ease-in-out,
        transform 500ms ease-in-out,
        opacity 500ms ease-in-out;
}

.reviews-desc-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    color: #111111;
    margin-bottom: 24px;
}

.reviews-desc-text {
    line-height: 1.28571;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}


#first-slide:checked~.reviews-list .first-review,
#second-slide:checked~.reviews-list .second-review,
#third-slide:checked~.reviews-list .third-review {
    transform: translateX(0);
    pointer-events: auto;
}

#first-slide:checked~.reviews-list .first-review .reviews-desc,
#second-slide:checked~.reviews-list .second-review .reviews-desc,
#third-slide:checked~.reviews-list .third-review .reviews-desc {
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}

.slider-selectors {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-bottom: 32px;
}

.slider-label {
    width: 13px;
    height: 13px;
    border-radius: calc(13px / 2);
    background-color: rgba(17, 17, 17, 0.1);
    cursor: pointer;
    transition: width 500ms ease-in-out,
        background-color 500ms ease-in-out;
}

#first-slide:checked~.slider-selectors .slider-label[for="first-slide"],
#second-slide:checked~.slider-selectors .slider-label[for="second-slide"],
#third-slide:checked~.slider-selectors .slider-label[for="third-slide"] {
    width: 28px;
    background-color: #fd9222;
}

.button-reviews {
    display: block;
    min-width: 165px;
    height: 42px;
    padding: 12px 28px;
    margin: 0 auto;
    border: 1px solid #fd9222;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    text-align: center;
    color: #111111;
    transition: color 250ms ease-in-out,
        background-color 250ms ease-in-out,
        border-color 250ms ease-in-out;
}

.button-reviews:hover,
.button-reviews:focus {
    color: #ffffff;
    background-color: #fd9222;
    border-color: transparent;
}

@media (min-width: 736px) {
    .reviews {
        padding: 40px 0;
        margin-bottom: 40px;
    }

    .reviews-title {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 50px;
    }

    .reviews-list {
        margin-bottom: 32px;
    }

    .reviews-item {
        width: calc((100% - 16px) / 2);
        left: calc(25% + 4px);
        transform: translateY(-100%);
    }

    #first-slide:checked~.reviews-list .first-review,
    #second-slide:checked~.reviews-list .second-review,
    #third-slide:checked~.reviews-list .third-review {
        transform: translate(calc((50% + 8px) * -1), 0);
        pointer-events: auto;
    }

    #first-slide:checked~.reviews-list .second-review,
    #second-slide:checked~.reviews-list .third-review,
    #third-slide:checked~.reviews-list .first-review {
        transform: translate(calc(50% + 8px), 0);
        pointer-events: auto;
    }

    #first-slide:checked~.reviews-list .first-review .reviews-desc,
    #first-slide:checked~.reviews-list .second-review .reviews-desc,
    #second-slide:checked~.reviews-list .second-review .reviews-desc,
    #second-slide:checked~.reviews-list .third-review .reviews-desc,
    #third-slide:checked~.reviews-list .third-review .reviews-desc,
    #third-slide:checked~.reviews-list .first-review .reviews-desc {
        box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    }

    .slider-selectors {
        margin-bottom: 50px;
    }

    .button-reviews {
        min-width: 220px;
        height: 50px;
        padding: 14px 40px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 18px;
    }

}

@media (min-width: 1168px) {
    .reviews {
        padding: 50px 0;
        margin-bottom: 50px;
    }

    .reviews-list {
        display: flex;
        gap: 28px;
        justify-content: center;
        margin-bottom: 50px;
    }

    .reviews-item {
        position: relative;
        left: 0;
        width: calc((100% - 2 * 28px) / 3);
        pointer-events: auto;
    }

    #first-slide:checked~.reviews-list .reviews-item,
    #second-slide:checked~.reviews-list .reviews-item,
    #third-slide:checked~.reviews-list .reviews-item {
        transform: none;
    }

    .slider-selectors {
        display: none;
    }
}

/*#endregion ====== Reviews styles ====== */

/*#region ====== Reviews form styles ====== */

.container-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    width: 312px;
    min-height: 620px;
    border-radius: 15px;
    padding: 32px 24px;
}

.button-close-form {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.button-close-form-icon {
    fill: #111111;
    transition: fill 250ms ease-in-out;
}

.button-close-form:hover .button-close-form-icon,
.button-close-form:focus .button-close-form-icon {
    fill: #fd9222;
}

.review-form-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 32px;
}

.second-br {
    display: none;
}

.review-form-subtitle .orange {
    color: #fd9222;
}

.review-form-box {
    margin-bottom: 14px;
}

.review-form-textarea-box {
    margin-bottom: 18px;
}

.review-form-label {
    display: block;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    margin-bottom: 4px;
}

.review-form-box-input {
    position: relative;
}

.review-form-input,
.review-form-texarea {
    width: 100%;
    height: 45px;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    padding: 13px 18px 13px 43px;
    transition: border-color 250ms ease-in-out;
}

.review-form-input:focus,
.review-form-input:hover,
.review-form-texarea:focus,
.review-form-texarea:hover {
    border-color: #fd9222;
}

.review-form-svg-input {
    position: absolute;
    top: 14px;
    left: 18px;
    fill: #404040;
    transition: fill 250ms ease-in-out;
}

.review-form-input:hover+.review-form-svg-input,
.review-form-input:focus+.review-form-svg-input {
    fill: #fd9222;
}

.review-form-texarea {
    height: 92px;
    padding: 13px 18px;
    resize: none;
}

.review-form-texarea::placeholder {
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.review-form-checkbox-container {
    margin-bottom: 32px;
    position: relative;
}

.review-form-checkbox.visually-hidden {
    top: 20px;
    left: 11px;
}

.review-form-checkbox-label {
    display: flex;
    gap: 12px;
}

.review-custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    background-color: transparent;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

.review-custom-checkbox-img {
    fill: transparent;
    transition: fill 250ms ease-in-out;
}

.review-form-checkbox-label-text {
    font-size: 12px;
    line-height: 1.34;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
}

.review-form-checkbox-link {
    text-decoration: underline;
    text-transform: capitalize;
    color: #fd9222;
}

.review-form-checkbox:checked+.review-form-checkbox-label .review-custom-checkbox {
    border: none;
    background-color: #fd9222;
}

.review-form-checkbox:checked+.review-form-checkbox-label .review-custom-checkbox-img {
    fill: #ffffff;
}

.review-form-bnt {
    border-radius: 100px;
    padding: 12px 28px;
    min-width: 93px;
    height: 41px;
    background: #fd9222;
    font-weight: 600;
    color: #ffffff;
    transition: color 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

.review-form-bnt:hover,
.review-form-bnt:focus {
    color: #fd9222;
    background-color: #fcf1e0;
}

@media (min-width: 736px) {
    .container-form {
        width: 516px;
        min-height: 794px;
        padding: 40px;
    }

    .button-close-form {
        top: 24px;
        right: 24px;
    }

    .review-form-subtitle {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 40px;
    }

    .first-br {
        display: none;
    }

    .second-br {
        display: inline;
    }

    .review-form-box,
    .review-form-textarea-box {
        margin-bottom: 18px;
    }

    .review-form-label {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .review-form-svg-input {
        top: 22px;
        left: 24px;
        width: 24px;
        height: 24px;
    }

    .review-form-input,
    .review-form-texarea {
        height: 68px;
        border-radius: 13px;
        font-size: 18px;
        padding: 22px 22px 22px 62px;
    }

    .review-form-texarea {
        height: 136px;
        padding: 22px 24px;
    }

    .review-form-texarea::placeholder {
        font-size: 18px;
    }

    .review-form-checkbox-container {
        margin-bottom: 40px;
    }

    .review-form-checkbox-label {
        align-items: flex-end;
    }

    .review-form-checkbox-label-text {
        font-size: 14px;
        line-height: 1.22;
    }

    .review-form-bnt {
        padding: 14px 40px;
        min-width: 116px;
        height: 45px;
    }
}

/*#endregion ======Reviews form styles====== */

/*#region ====== Footer styles ====== */

.footer {
    background-color: #1e1823;
    padding: 32px 0;
}

.container-footer {
    color: #ffffff;
}

.footer-top-text {
    max-width: 300px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}

.footer-top-text.orange {
    color: #fd9222;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 32px;
}

.footer-address-subtitle {
    font-weight: 500;
    line-height: 1.29;
}

.footer-address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-address-item {
    line-height: 1.29;
    letter-spacing: -0.02em;
    transition: color 250ms ease-in-out;
}

.footer-address-item:hover,
.footer-address-item:focus {
    color: #fd9222;
}

.hr {
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 0;
    margin-bottom: 32px;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 32px;
}

.footer-nav-item {
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.02em;
}

.footer-nav-link {
    transition: color 250ms ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    color: #fd9222;
}

.footer-form {
    display: flex;
}

.form-input {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 14px 18px;
    min-width: 208px;
    height: 45px;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    margin-right: 8px;
}

.form-input::placeholder {
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
}

.form-button {
    border-radius: 100px;
    padding: 14px 26px;
    min-width: 120px;
    height: 45px;
    background: #fd9222;
    font-weight: 600;
    color: #ffffff;
    transition: color 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

.form-button:hover,
.form-button:focus {
    color: #fd9222;
    background-color: #fcf1e0;
}

@media (min-width: 736px) {
    .footer {
        padding: 50px 0;
    }

    .container-footer {
        color: #ffffff;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .footer-top-text {
        font-size: 28px;
        line-height: 1.22;
        margin-bottom: 0;
    }

    .footer-address {
        margin-bottom: 0;
    }

    .hr {
        margin-bottom: 24px;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-nav-list {
        flex-direction: row;
        gap: 16px;
        margin-bottom: 0;
    }

    .footer-nav-item.hidden {
        display: none;
    }

    .form-input {
        padding: 14px 24px;
        min-width: 232px;
    }

    .form-button {
        padding: 14px 28px;
        min-width: 128px;
    }
}

@media (min-width: 1168px) {
    .form-input {
        min-width: 312px;
        height: 52px;
        font-size: 18px;
    }

    .form-input::placeholder {
        font-size: 18px;
    }

    .form-button {
        padding: 16px 40px;
        min-width: 136px;
        height: 52px;
    }
}

/*#endregion  ====== Footer styles ====== */